@use 'sass:map';
@use '../../../../scss/base/variables';
@use '../../../../scss/base/_mixinsfunc';

// Variables de colores y tipografía para reutilizar
$color-info-background: variables.$primary-dark;
$design-font-size: 2.5rem;
$dev-font-size: 1rem;
$letter-spacing: 2px;
$font-weight-bold: 900;

.info {
  background: linear-gradient(180deg, variables.$color-primary 60%, variables.$primary-dark 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 7;
  padding: 1rem;

  .design,
  .dev {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    object-fit: contain;

    span {
      text-transform: capitalize;
      font-size: $design-font-size;
      letter-spacing: $letter-spacing;
      font-weight: $font-weight-bold;
    }

    p {
      font-size: $dev-font-size;
      color: variables.$primary-bright;
      line-height: 2rem;
      text-align: start;
    }
  }

  // .design - Estilo específico para diseño
  .design {
    flex-direction: row;
    justify-content: center;

    span {
      writing-mode: vertical-lr;
      height: 140px;
      color: variables.$secondary;
    }
  }

  // .dev - Estilo específico para desarrollo
  .dev {
    span {
      color: variables.$secondary;
    }

    p {
      margin-top: 50px;
      width: 80%;
    }
  }
}

@include mixinsfunc.respond-to("tablet",1023px) {
  .info {
    flex-direction: row;
    .design {
      span {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

    .dev {
      span {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@include mixinsfunc.respond-to("desktop") {
    .info {
      flex-direction: row;
      .design {
        span {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
  
      .dev {
        span {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }