@use 'sass:map';
@use './_variables.scss';
@use './_mixinsfunc.scss';

/* @font-face {
    font-family: 'Segoe UI Variable';
    src: url('/app/fonts/SegoeUIVariable.woff2') format('woff2'),
         url('/app//fonts/SegoeUIVariable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*   color-scheme: light dark; */
}

html{
    color:variables.$primary-bright;
    font-family: 'Segoe UI Variable', sans-serif;

}
section{
    height: 100dvh;
    scroll-snap-align: center;
    scroll-snap-stop:normal;
    background:variables.$primary-dark;

}

a {
    text-decoration: none;
    color:variables.$primary-bright;

}

@include mixinsfunc.respond-to("tablet", 1023px) {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
}

@include mixinsfunc.respond-to("desktop") {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
}