/* Breackpoints */

$break-pontis: (
    "xs": 595px,
    "sm":760px,
    "md":1200px, 
);

/* Colors */

$color-neutral-white: #ffffff;
$color-neutral-black: #000000;
$color-neutral-gray: #888888;

$color-primary: #3b043e;
$color-secondary: #43efff;

