/* Breackpoints */

$break-pontis: (
    "xs": 395px,
    "sm":768px,
    "md":1220px, 
);

/* Colors */

$primary-bright: #fff;
$primary-dark: #141415;
$primary-dim: #888889;
$background-dim: #08090a;
$background-dim2: #0e0f11;

$color-primary: #3b043e;
$secondary: #7feaff;

$neon-1: #a7d575;