@use 'sass:map';
@use '../../../../../../scss/base/variables.scss';
@use '../../../../../../scss/base/_mixinsfunc.scss';
@use '../../../../../../scss/animations/animations';
.milestone-card {
    background-color:#3b043e98;
    padding: 20px;
    border-radius: 5px;
    header {
        @include mixinsfunc.flex($jc:space-between,$al:center);
        margin-bottom: 5px;
        h2 {
            color: variables.$secondary;
            font-size: 1rem;
            font-weight: 800;
            text-transform: capitalize;
        }
        span {
         
            font-size: 0.8rem;
        }
    }
    small{
        font-weight: 800;
    }
    p {
        margin-top: 20px;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}