@use 'sass:map';
@import './scss/base/_variables.scss';
@import './scss/base/_mixinsfunc.scss';
@import './scss/animations/animations';

.home {
@include flex(colum,$jc:center,$al:center);
  width: 100%;
  height: 100dvh;
  picture {
    width: 100%;
    height: 370px;
   display: flex;
   justify-content: center;
   animation: fadeIn  2s ease-in-out;
   img{
    width: 200px;
    object-fit: contain;
   }
  }

  article {

    .wordsContainer {
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      width: 35%;
      object-fit: contain;
      margin: 0 auto;
    }
    .variant {
      color: red !important;
      
    }

  }
}

@media (width > map.get($break-pontis, 'sm')) {

  .home {
    article {

      .wordsContainer {
       @include flex(row,$jc:center,$al:center,$fw:nowrap);
       flex-direction: row;
        gap: 1rem;
        width: 100%;

      }
    }
    picture {
      height: 500px;
      img{
        width: 500px;
       }
      }
      }


  }