@use 'sass:map';
@use '../../../../scss/base/variables';
@use '../../../../scss/base/mixinsfunc';

.projectSlide {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
  background-color: variables.$primary-dark;
  height: 100dvh;

  .projectHeader {
    position: relative;
    margin: 75px 0px;
    .technologies {
      display: flex;
      justify-content: center;
      z-index: 8;

      span {
        font-weight: 800;
        color: variables.$secondary;
        font-size: 0.6rem;
        text-align: center;
        writing-mode: vertical-lr;
      }

      figure {
        height: 300px;
        width: 350px;
        object-fit: contain;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          z-index: 7;
        }
      }
    }
  }

  .projectContent {
    width: 100%;
    article {
      h1 {
        color: variables.$secondary;
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        text-transform: capitalize;
      }

      header {
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin-top: 15px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .description {
        margin-top: 20px;
        font-size: 0.8rem;
        font-weight: 800;
        line-height: 1.5;

        p {
          width: 100%;
        }

        .buttons {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }

  .projectNumber {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 60%;
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 5px variables.$secondary);
  }
}

@include mixinsfunc.respond-to('tablet', 1023px) {
  .projectSlide {
    .projectHeader {
      .technologies {
        span {
          font-size: 0.8rem;
        }
        figure {
          height: 300px;
          width: 400px;
        }
      }
    }
    .projectContent {
      article {
        h1 {
          font-size: 3rem;
        }
        header {
          ul {
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
    .description {
      p {
        font-size: 1.2rem;
      }
    }
  }
}
@include mixinsfunc.respond-to('desktop') {
  .projectSlide {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .projectHeader {
      .projectNumber {
        left: 50%;
        width: 500px;
      }
      .technologies {
        span {
          font-size: 1.2rem;
        }
        figure {
          height: 600px;
          width: 700px;
          &:hover {
            cursor: pointer;
            transform: perspective(1200px) rotateY(20deg);
            transition: transform 1s ease 0s;
          }
        }
      }
    }
    .projectContent {
      article {
        h1 {
          font-size: 4rem;
        }
        header {
          ul {
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
    .description {
      p {
        font-size: 1.2rem;
      }
    }
    .projectNumber {
      left: 50%;
      width: 300px;
      height: 300px;
    }
  }

}
