@use 'sass:map';
@use '../../../../scss/base/_variables.scss'; // Importar variables y mixins si es necesario
@use '../../../../scss/base/_mixinsfunc.scss';
@use '../../../../scss/animations/_animations.scss'; // Si tienes animaciones globales, importarlas aquí

/* Animación que se aplicará a las palabras */
.animated-word {
  position: relative;
  font-size: 4rem;
  line-height: 6.1rem;
  letter-spacing: -5px;
  font-weight: 700;
  
  @include mixinsfunc.apply-animation();


  &:hover {
 
    @include mixinsfunc.apply-animation(true);
    letter-spacing: -2px;
    background-image: linear-gradient(
      225deg,
      #7feaff 34%,
      #7e0a61 96%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


@include mixinsfunc.respond-to('tablet', 1023px) {
  .animated-word {
    font-size: 6rem;
  }
}

@include mixinsfunc.respond-to('desktop') {
  .animated-word {
    font-size: 8rem;
  }
}



 


