
@use '../../../../scss/animations/animations.scss';

.tap-hint{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 90%;
    opacity: 0;
    animation:fadeIn 1s ease forwards, 2.35s linear 0s infinite normal none running scrollDown;
    animation-delay: 1000ms;
}

.tap-icon {
    width: 30px;
    height: 30px;

}